<div id="reading_list_details">
  <h3 class="list-title"><%= @reading_list.title %></h3>
    <div class="topics">
    <h5>Topics</h5>
    <%= render @topics %>
    </div>
  <p><%= @reading_list.description %></p>
</div>
<% if @reading_list.reader.id == session[:reader_id] %>
    <p>Add topics</p>
    <%= form_for @topic, :url => reading_list_topics_path(@reading_list), :remote => true do |f|%>
      <%= f.text_field :name %>
      <%= f.submit :add_topic %>
    <% end %>
  <div id="edit_list_details">
    <%= form_for(@reading_list) do |f| %>
      <fieldset>  
        <%= f.label :title %>
        <%= f.text_field :title %>
      </fieldset>
      <fieldset>  
        <%= f.label :description %>
        <%= f.text_area :description %>
      </fieldset>
      <fieldset >
        <%= f.submit :value => "Save and view", :class => "btn btn-default" %>
      </fieldset>
    <% end %>
  </div>
<% end %>

<% if @reading_list.id == session[:reader_id] || moderator_signed_in? %>
  <%= form_for(@reading_list, :method => "DELETE") do |f| %>
    <fieldset >
      <%= f.submit :value => "Discard", :class => "btn btn-default" %>
    </fieldset>
  <% end %>
<% end %>

<div id="stories">
  <% @reading_list.stories.each do |story| %>
    <%= render story %>
    <% if @reading_list.reader.id == session[:reader_id] || moderator_signed_in?%>
      <%= link_to "remove story", story_path(story), :method => :delete %>
    <% end %>
  <% end %>
</div>
