<div id="reading_list_details">
  <h3 class="list-title"><%= @reading_list.title %></h3>
  <p><%= @reading_list.description %></p>
</div>
<div class="topics">
  <% unless @reading_list.topics.blank? %>
    <h5>Topics</h5>
    <%= render @reading_list.topics %>
  <% end %>
</div>
<div id="stories">
  <% @reading_list.stories.each do |story| %>
    <%= render story %>
    <% if @reading_list.reader.id == session[:reader_id] || moderator_signed_in?%>
      <%= link_to "remove story", story_path(story), :method => :delete %>
    <% end %>
  <% end %>
</div>
