<%= render @reading_list %>
<% if @reading_list.reader_id == session[:reader_id] %>
  <a id="edit-list">edit list details</a>
  <div id="edit_list_details" class="hidden">
    <%= render 'edit' %>
  </div>
<% end %>

<% if @reading_list.reader_id == session[:reader_id] || moderator_signed_in? %>
  <%= form_for(@reading_list, :method => "DELETE") do |f| %>
    <fieldset >
      <%= f.submit :value => "Discard", :class => "btn btn-default" %>
    </fieldset>
  <% end %>
<% end %>


<% if session[:logged_in] %>
  <%= render 'follow_button' %>
<% end %>
<div id="comments">
  <%= render @comments %>
</div>
<%= render :partial => 'comments/comment_form', :locals => { :comment => @comment } %>
