<div class="comment" data-id="<%= comment.id %>">
  <% if comment.parent_id %>
    <p>in reply to <span class="comment_name"><%= comment.in_reply_to %></span></p>
  <% end %>
  <div class="comment-body">
    <p>
      <span class="comment_name"><%= comment.reader.name %></span> says
      <%=comment.body%>
    </p>
    <% if comment.reader.id == session[:reader_id] || moderator_signed_in? %>
      <%= link_to "remove comment", reader_comment_path(comment.reading_list.id,comment.id), :method => :delete %>
    <% end %>
  </div>
   <% reply = Comment.new(:parent_id => comment.id) %>
  <%= render :partial => 'comments/comment_form', :locals => {:comment => reply } %>
  <div class="replies-to-<%= comment.id %> replies">
    <% comment.replies.each do |reply| %>
      <%= render :partial => 'comments/comment', :locals => { :comment => reply }  %>
  </div>
  <% end %>
</div>

