<div class="comment" data-id="<%= comment.id %>">
  <% if comment.parent_id %>
    
  <p>
    <span><%= comment.reader.name %></span>
    <%=comment.body%>
  </p>
   <% reply = Comment.new(:parent_id => comment.id) %>
  <%= render :partial => 'comments/comment_form', :locals => {:comment => reply } %>
  <div class="replies-to-<%= comment.id %>">
    <% comment.replies.each do |reply| %>
      <%= render :partial => 'comments/comment', :locals => { :comment => reply }  %>
  </div>
  <% end %>
</div>

