<div class="reader">  
  <h3><%= reader.name %></h3>
  <p>
    Reading lists: <%= reader.reading_lists.count %>
    <%= link_to "View reader's lists" , reader_path(reader), :class => "btn btn-primary"%>
  </p>
  <p>
    Comments: <%= reader.comments.count %>
    <%= link_to "View reader's comments" , reader_comments_path(reader), :class => "btn btn-primary"%>
  </p>
</div>