<!DOCTYPE html>
<html>
  <head>
    <title>Trender</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= tag 'meta', :name => 'rails_env', :content => Rails.env %>
  </head>

  <body >
    <div id="header" class="row">
      <h1 id="title" class="span8" >Trendr</h1>
      <div id="sign_in">
        <% if session[:logged_in] %>
          <p id="logged_in">Logged in as: <%= session[:reader] %></p>
        <% else %>
          <%= link_to "Sign in with twitter", omni_auth_url, :class => "btn btn-info"%>
        <% end %>
      </div>
      <nav id="application_nav">
        <%= link_to "Home", root_path %>
        <%= link_to "View all lists", reading_lists_path%>
        <%= link_to "View all readers", readers_path%>
        <% if session[:logged_in] %>
          <%= link_to "My library", reading_lists_reader_path(session[:reader_id]) %>
          <%= link_to "Sign out", sign_out_path %>
        <% end %>
        <% if moderator_signed_in? %>
          <%= link_to "Moderator sign out", '/moderators/sign_out', :method => :delete %>
        <% end %>
      </nav>
      </div>
    </div>
    <div class="container main">
    <% if flash[:notice] %>
        <%= bootstrap_flash %>
    <% end %>

    <%= yield %>

    </div>
    <div id="moderator_login">
       <%= link_to "moderator login", new_moderator_session_path %>
    </div>
  </body>
</html>
